<div class="review" ng-keyup="onKeyUp($event.keyCode)">

	<div class="" ng-if="items.length">
		<div class="review-note pre blur" >
			<div ng-if="currentIndex >= 1" view-note="items[currentIndex-1]"> </div>
		</div>
		<div class="review-note current" ng-class="{ blur: !items[currentIndex].show }">
			<div class="reveal-help" ng-if="!items[currentIndex].show">
				Reveal content <br />
				<span class="key"> SPACE </span>
			</div>
			<div view-note="items[currentIndex]"> </div>
			<ul class="stage">
				<li class="action no" >
					<span class="fa fa-times" ng-click="eval(-1)" tooltip="Didn't really remember this so well, remind me again sooner than this time ({{getReviewDate(-1) | date:'yyyy-MM-dd'}})"></span>
				</li>
				<li class="action skip">
					<span class="fa fa-skip" ng-click="eval(0)" tooltip="Didn't really remember this so well, remind me again sooner than this time ({{getReviewDate(-1) | date:'yyyy-MM-dd'}})"></span>
				</li>
				<li class="action yes" >
					<span class="fa fa-check" ng-click="eval(1)" tooltip="Í seem to remember this, remind me again longer in the future ({{getReviewDate(1) | date:'yyyy-MM-dd'}})"></span>
				</li>
			</ul>
		</div>
		<div class="review-note next blur" >
			<div ng-if="currentIndex < items.length-1" view-note="items[currentIndex+1]"> </div>
		</div>
	</div>

</div>
